[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pillow = "*"
"h5py" = "*"
keras = "===2.1.2"
"boto3" = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.6"
